<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="..\static\css\boton.css">
    <link rel="stylesheet" href="..\static\css\form.css">
</head>

<body>
    <form method="POST" action="/emp">
        {% csrf_token %}
        <div>
            <br>
            <div class="formulario">
                <div class="items">
                    <p>Placa:</p>{{ form.eid }}
                </div>
                <div class="items">
                    <p>Modelo:</p>{{ form.ename }}
                </div>
                <div class="items">
                    <p>Costo:</p>{{ form.eemail }}
                </div>
                <div class="items">
                    <p>Contacto:</p>{{ form.econtact }}
                </div>
                <div class="items">
                    <p>distribuidor:</p>{{ form.edistri }}
                </div>
                <div class="items">
                    <p>color:</p>{{ form.ecolor }}
                </div>
                <div class="items">
                    <br>
                    <button type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>