<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\menu.css">
    <title>Document</title>
</head>
<body>
    <body>
        <nav>
          <ul class="menu-hor">
            <li>
              <a href="/emp">registrar un coche</a>
            </li>
            <li>
              <a href="">coches</a>
              <ul class="menu-vert">
                <li><a href="show">editar datos</a></li>
              </ul>
            </li>
            
          </ul>
        </nav>
    
        <div class="menn" id="m1">
          <section class="presentacion">
            <div class="imagenes">
              <img src="front-end/img/servicio.jpg" class="ok" />
              <h2>hola</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
          </section>
        </div>
    
        <div class="menn" id="m2">
          <section class="presentacion">
            <div class="imagenes">
              <img src="front-end/img/blog-megino-9.jpg" class="ok" />
              <h2>hola</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
          </section>
        </div>
    
        <div class="menn" id="m3">
          <section class="presentacion">
            <div class="imagenes">
              <img src="front-end/img/ubi.jpg" class="ok" />
              <h2>hola</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
          </section>
        </div>
        <footer></footer>
      </body>
</body>
</html>